.main{
	background-color:#e6e6e6;
	height:30px;
	padding-top:10px
}
.get{
	padding-left:150px
}
.reseller{
	padding-left:20px
}
.kit{
	padding-left:20px
}
.pri{
	height:50px;
	margin:10px 0px 0px 140px;
}
.in{
	height:5%;
	width:15%;
	border-radius:5px;
	margin:19px 0px 0px 10px;
}
.help6{
	font-size:20px;
	padding-left:5px;
}
.login{
	font-size:20px
}
.bac{
	background-color:#e6e6e6;
	height:30px;
	margin-top:20px;
	padding-top:10px;
}
.same{
	font-size:18px;
	padding-left:100px;
}
.st{
	font-size:18px;
	padding-left:20px;
}
.frames{
	font-size:18px;
	margin:30px 0px 0px 120px;
}
.turn{
	height:300px;
	margin:30px 0px 0px 120px;
}
.ph{
	font-size:20px
}
.golden{
	font-size:20px
}
.lovey{
	height:250px;
	width:250px;
	border:20px inset black;
	margin:20px 0px 0px 70px;
}
.lovey1{
	height:250px;
	width:250px;
}
.pun{
	height:250px;
	width:250px;
	border:20px inset black;
	margin:-290px 0px 0px 420px;
}
.pun1{
	height:250px;
	width:250px;
}
.sty{
	height:250px;
	width:250px;
	border:20px inset black;
	margin:-290px 0px 0px 780px;
}
.sty1{
	height:250px;
	width:250px;
}
.ele{
	height:250px;
	width:250px;
	border:20px inset black;
	margin:-290px 0px 0px 1150px;
}
.ele1{
	height:250px;
	width:250px;
}
.hi{
	width:620px;
	margin:60px 0px 0px 0px;
}
.bestseller{
	margin:-25px 0px 0px 0px;
	font-size:40px;
}
.hi1{
	width:620px;
	margin:-23px 0px 0px 890px;
}
.main2{
	height:250px;
	width:250px;
	border:20px double black;
	margin:40px 0px 0px 70px;
}
.stunning{
	height:250px;
	width:250px;
}
.stock{
	height:250px;
	width:250px;
	border:20px double black;
	margin:-290px 0px 0px 420px;
}
.stock1{
	height:250px;
	width:250px;
}
.ind{
	height:250px;
	width:250px;
	border:20px double black;
	margin:-290px 0px 0px 780px;
}
.ind1{
	height:250px;
	width:250px;
}
.ide{
	height:250px;
	width:250px;
	border:20px double black;
	margin:-290px 0px 0px 1150px;
}
.ide1{
	height:250px;
	width:250px;
}
.main3{
	width:490px;
	margin:60px 0px 0px 0px;
}
.by{
	margin:-25px 0px 0px 0px;
	font-size:40px;
}
.hi1{
	width:490px;
	margin:-23px 0px 0px 1000px;
}
.pin{
	height:100px;
	width:100px;
	border:20px outset black;
	margin:170px 0px 0px 90px;
}
.pin1{
	height:100px;
	width:100px;
}
.cute{
	height:200px;
	width:150px;
	border:20px outset black;
	margin:-250px 0px 0px 470px;
}
.cute1{
	height:200px;
	width:150px;
}
.cele{
	height:200px;
	width:350px;
	border:20px outset black;
	margin:-240px 0px 0px 800px;
}
.cele1{
	height:200px;
	width:350px;
}
.sto{
	height:250px;
	width:150px;
	border:20px outset black;
	margin:-240px 0px 0px 1300px;
}
.sto1{
	height:250px;
	width:150px;
}
.ideal{
	height:200px;
	margin:40px 0px 0px 110px;
}
.related{
	margin:45px 0px 0px 0px;
	font-size:40px;
}
.canvas{
	height:230px;
	width:330px;
	margin:20px 0px 0px 110px;
}
.cup{
	height:230px;
	width:330px;
	margin:-230px 0px 0px 480px;
}
.wooden{
	height:230px;
	width:330px;
	margin:-230px 0px 0px 850px;
}
.asked{
	font-size:30px;
	margin-left:110px;
	margin-top:30px;
}
.what{
	font-size:20px;
	margin:30px 0px 0px 130px;
}
.spotify{
	font-size:20px;
	margin:-15px 0px 0px 800px;
}
.finish{
	font-size:20px;
	margin:22px 0px 0px 800px;
}
.provide{
	font-size:20px;
	margin:22px 0px 0px 800px;
}
.print{
	font-size:20px;
	margin:22px 0px 0px 800px;
}
.coloured{
	font-size:20px;
	margin:-120px 0px 0px 130px;
}
.quantity{
	font-size:20px;
	margin:30px 0px 0px 130px;
}
.limit{
	font-size:20px;
	margin:30px 0px 0px 130px ;
}
.google{
	height:150px;
	margin:30px 0px 0px 70px;
}
.nationwide{
	height:150px;
	margin:30px 0px 0px 10px;
}
.satisfaction{
	height:150px;
	margin:30px 0px 0px 10px;
}
.support{
	height:150px;
	margin:30px 0px 0px 10px;
}
.review{
	font-size:20px;
	padding-left:150px;
}
.delivery{
	font-size:20px;
	padding-left:170px;
}
.gru{
	font-size:20px;
	padding-left:120px;
}
.support2{
		font-size:20px;
		padding-left:160px;
}
.fo1{
	height:250px;
	background-color:white;
	margin-top:40px;
}
.find{
	color:black;
	font-size:20px;
	margin:-15px 0px 0px 150px;
	padding-top:50px;
}
.ban{
	color:black;
	font-size:15px;
	margin:-40px 0px 0px 150px;
	padding-top:50;
}
.our{
	color:black;
	font-size:20px;
	margin:-180px 0px 0px 400px;
}
.about{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 400px;
}
.support3{
	color:black;
	font-size:20px;
	margin:-100px 0px 0px 670px;
}
.help{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 670px;
}
.link{
	color:black;
	font-size:20px;
	margin:-127px 0px 0px 940px;
}
.policy{
	color:black;
	font-size:15px;
	margin: 10px 0px 0px 940px;
}
.visa{
	height:40px;
	padding-left:650px;
}
.mastercard{
	height:40px;
	padding-left:10px;
}
.upi{
	height:40px;
	padding-left:10px;
}
.pr20{
	font-size:20px
}
	
	

